---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input" | "textarea" | "select"> {
  label: string;
  type?: string;
  showIf?: string;
  options?: string[];
}

const { label, type = "text", showIf, span, ...rest } = Astro.props;

if (!rest.id) {
  rest.id = `input-${Math.random().toString(36).substr(2, 9)}`;
}

const isChoice = type === "checkbox" || type === "radio";
const isSelect = type === "select";

const Element = isSelect
  ? "select"
  : type === "textarea"
    ? "textarea"
    : "input";
---

{
  isChoice ? (
    <label
      for={rest.id}
      data-show-if={showIf}
      data-span={span}
      class="choice-label"
    >
      <Element type={type} {...rest} />
      {label}
    </label>
  ) : (
    <label for={rest.id} data-show-if={showIf} data-span={span}>
      {label}
      {rest.required && <small class="required"> Required</small>}
      {isSelect ? (
        <select id={rest.id} {...rest}>
          <option value="" disabled selected>
            Select an option
          </option>

          {Astro.props.options?.map((option) => (
            <option value={option}>{option}</option>
          ))}
        </select>
      ) : (
        <Element type={type} id={rest.id} {...rest} />
      )}
    </label>
  )
}

<style>
  /* Standard Labels */
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font: inherit;
  }

  /* Checkbox/Radio Labels */
  .choice-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    field-sizing: content;
  }

  /* Specific sizing for auto-expanding textareas */
  textarea {
    min-height: 3rem;
    resize: vertical; /* fallback for non-supporting browsers */
  }

  /* Ensure choice inputs don't take 100% width */
  input[type="checkbox"],
  input[type="radio"] {
    width: auto;
    margin: 0;
  }
  input:user-invalid {
    border-color: red;
  }
</style>
