---
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
const {
  title,
  startingAt,
  intro,
  outro,
  listhead = "What's included",
  button = "More info",
} = Astro.props;
const subtitle = `Starting at $${startingAt}`;
---

<Card title={title} subtitle={subtitle}>
  <p>{intro}</p>
  <strong>{listhead}:</strong>
  <div><slot /></div>
  <p>{outro}</p>
  <Button href="/contact">{button}</Button>
</Card>
