---
const { title, href, image, contact, position } = Astro.props;
let src = `url(${image})`;
---

<div>
  <h3><a href={href}>{title}</a></h3>
  <blockquote>
    <slot />
    <cite>{contact}, {position}</cite>
  </blockquote>
</div>

<style define:vars={{ src }}>
  div {
  }
  h3 {
    /* display: grid; */
    /* align-items: end; */
    aspect-ratio: 5/4;
    padding-block-start: 10%;
    background: var(--src);
    background-size: cover;
  }
</style>
