---
const { title, href, image, contact, position } = Astro.props;
let src = `url(${image})`;
---

<div>
  <a href={href}>{title}</a>
  <blockquote>
    <slot />
    <cite>{contact}, {position}</cite>
  </blockquote>
</div>

<style define:vars={{ src }}>
  div {
  }
  a {
    display: block;
    aspect-ratio: 5/4;
    padding-block-start: 10%;
    background: var(--src);
    background-size: cover;
    /* display: grid; */
    /* align-items: end; */
    color: var(--color-midpoint);
    font-size: 1.5rem;
    &:hover {
      text-shadow: none;
      animation: none;
    }
  }
  blockquote {
    margin-top: 0;
  }
  cite {
    display: block;
    color: var(--color-midpoint);
    font-size: 0.875rem;
    text-align: right;
  }
</style>
