---
const { title, href, image, contact, position } = Astro.props;
let src = `url(${image})`;
---

<div>
  <a href={href}>{title}</a>
  <blockquote>
    <slot />
    <cite>{contact}, {position}</cite>
  </blockquote>
</div>

<style define:vars={{ src }}>
  div {
    aspect-ratio: 5/4;
    background: var(--src);
    background-size: cover;
  }
  a {
    display: block;
  }
</style>
