---
import "../styles/vars.css";
import "../styles/style.css";
import "../styles/grid.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";

interface Props {
  title?: string;
  isHome?: boolean; // Optional boolean prop
}

const { title, isHome = false } = Astro.props;
const CKS = "Cross Key Studios";
const titleTag = title ? `${title} | ${CKS}` : `${CKS}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <slot name="head" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" href="/favicon.ico" /> -->
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{titleTag}</title>
    <!-- <link rel="stylesheet" href="/style.css" /> -->
  </head>

  <body class={isHome ? "home" : null}>
    <!-- <header>{isHome ? <Hero /> : <Header />}</header> -->
    <Header />
    <Main>
      {title && <h1>{title}</h1>}
      <slot />
    </Main>
    <Footer />
  </body>
</html>

<style>
  body {
    display: grid;
    /* grid-template-rows: auto 1fr auto; */
    /* grid-template-columns: 1fr; */
    grid-template:
      "header" auto
      "content" 1fr
      "footer" auto;
    min-height: 100vh;
    margin: 0;
    background-color: var(--color-surface);
    color: var(--color-text);
    font-family: "Inter", sans-serif;
  }
  h1 {
    grid-column: breakout;
  }
</style>
